.listagem{
    border: 1px solid rgb(107, 114, 126);
    width: 50%;
}

p{
    text-align: right;
    padding: 10px 20px;    
    margin: 0;
}

.registros{
    height: 85%;
    overflow: scroll;
    list-style: none;
    padding: 0;
}

.pesquisa{
    margin-bottom: 10px;    
    text-align: right;

    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgb(107, 114, 126);
}