.registro{
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgb(36, 39, 43);
}

.registro p{
    margin: 5px 0;
    padding: 0;
}

.registro p span{
    margin: 0 5px;
}

.registro:hover{
    cursor: pointer;
    background-color: rgb(52, 58, 66);
}

.username{
    color: rgb(175, 204, 253);
    font-weight: bold;
}
